<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scoreboard Steuerung</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar">
        <a class="nav-btn" href="/">Start</a>
        <a class="nav-btn" href="/scores_and_teams">Teams und Punkte</a>
        <a class="nav-btn" href="/stopwatch">Stoppuhr</a>
        <a class="nav-btn" href="/timer">Timer</a>
        <a class="nav-btn" href="/message">Nachrichten</a>
    </nav>

    <!-- Page content -->
    <div class="content-wrapper">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>